body{
	background-color: lavender;
}

h1{
	color: red;
	text-align: center;
}
p{
	font-family: "Ariel";
	color: black;
	text-align: center;
}
h1{
	text-align: center;
	color: red;
}
li{
	text-align: center;
	font-style: normal;
}
table{
	color: grey;
}